/* CarouselSlider.css */

.movie-card-container {
  display: flex;
  gap: 15px;
  padding: 20px;
flex-wrap: wrap;
}

.movie-card {
  max-width: 300px;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}