.pricing {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    padding: 25px 50px;    // display: flex;
    justify-content: space-between;
    align-items: center;

    .features-heading {
            color: #6c63ff;
            font-size: 28px;
            margin-bottom: 35px;
        }

    .features {
        flex: 1;
        padding: 0 20px;
        color: white;
        list-style: none;

            li {
                font-size: 16px;
                margin: 10px 0;
                display: flex;
                align-items: center;

                .feature-icon {
                    margin-right: 10px;
                    font-size: 18px;

                    &.available {
                        color: #6C63FF;
                    }

                    &.not-available {
                        color: red;
                    }
                }
            }
        }
    }

    .cards {
        flex: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;

        .card {
            background-color: #1f1f1f;
            border-radius: 10px;
            padding: 30px;
            text-align: center;
            transition: transform 0.3s, box-shadow 0.3s;
            cursor: pointer;
            width: 33%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }

            .card-name {
                color: #6c63ff;
                font-size: 24px;
                margin-bottom: 10px;
            }

            .card-price {
                color: white;
                font-size: 18px;
                margin-bottom: 20px;
            }

            .choose-plan-button {
                background-color: #6C63FF;
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #554ecc;
                }
            }
        }
    }
