/* MovieCarousel.css */

.movie-carousel {
    padding: 20px;
}

.carousel-container {
overflow: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.movie-card {
    flex: 0 0 auto;
    max-width: 200px;
    text-align: center;
}

.movie-card img {
    max-width: 100%;
    height: auto;
}

.movie-card h3 {
    font-size: 16px;
    margin-top: 10px;
}