.footer {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            rgba(255, 255, 255, 0));
    color: white;
    padding: 18px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;

    @media (min-width: 768px) {
        padding: 25px 0;
    }

    .footer-content {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 18px;
        }
    }

    .footer-links {
        margin-bottom: 15px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }

        a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: #6c63ff;
            }

            @media (min-width: 768px) {
                margin: 0 10px;
            }
        }
    }

    .social-icons {
        display: flex;
        justify-content: center;

        @media (min-width: 768px) {
            justify-content: flex-end;
        }

        .social-icon {
            font-size: 24px;
            color: white;
            margin: 0 10px;
            transition: color 0.3s;

            &:hover {
                color: #6c63ff;
            }
        }
    }

    .copyright {
        font-size: 14px;
        color: #848199;
    }
}